@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --morning-background-image: url("./img/wallpaperflare.com_wallpaper.jpg");
    --afternoon-background-image: url("./img/wallpaperflare.com_wallpaper_afternoon.jpg");
    --night-background-image: url("./img/stars-in-sky-dark-1920x1080-15485.jpg");
}

* {
    padding: 0;
    margin: 0;
    font-family: "Quicksand";
}

#morning, #afternoon {
    text-shadow: -0.2px -0.2px 0 #ffffff, 1px -0.2px 0 #ffffff, -0.2px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

#evening {
    color: #ccc;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#morning {
    background-image: var(--morning-background-image);
    background-repeat: no-repeat;
}

#afternoon {
    background-image: var(--afternoon-background-image);
}

#evening {
    background-image: var(--night-background-image);
}


.container {
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left:300px;
    position: relative;
}

form {
    position: absolute;
    bottom: 25px;
    right: 25px;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    font-weight: bolder;
}

input {
    width: 200px;
    height: 30px;
    border: 2px solid #ccc;
    transition: border-color 0.3s ease;
    padding: 5px;
    background-color: transparent;
    font-weight: bolder;
    
}

input:hover {
    border: solid 2px rgb(0, 0, 0);
    background-color: transparent;
}

h1 {
    font-size: 72px;
}

h3 {
    font-size: 48px;
}

p {
    font-weight: bolder;
}